<div class="container">

  <h1>Showing Post Number: <%= @post.id %></h1>
  <p><%= @post.description %></p>
  <% if @post.avatar_file_name != nil %>
    <%= image_tag @post.avatar.url(:medium), class: "img-responsive" %>
  <% end %>
  <%= link_to "Home", root_path %>
  <%= link_to "Edit", edit_post_path %>

  <h2><em>Comments:</em></h2>
    <% @post.comments.each do |comment| %>
      <p><%= comment.name %> says:</p>
      <p><%= comment.description %></p>
      <hr>
    <% end %>
  <%= link_to "New Comment", new_post_comment_path(@post), class: "ui inverted blue button active" %>
</div>
  
</div>