<div class="container">

  <h1>Showing Post Number: <%= @post.id %></h1>
  <p><%= @post.description %></p>
  <% if @post.avatar_file_name != nil %>
    <%= image_tag @post.avatar.url(:medium), class: "img-responsive" %>
  <% end %>
  <%= link_to "Home", root_path %>
  <%= link_to "Edit", edit_post_path %>

      <h2><em>Comments:</em></h2>
  <% @group.comments.each do |comment| %>
    <p><%= comment.author %> says:</p>
    <p><%= comment.comment %></p>
    <% if current_user and current_user.id == comment.user_id %>
      <p><%= link_to "Edit", edit_group_comment_path(@group, comment), class: "ui grey button" %>
      <%= link_to "Delete", group_comment_path(@group, comment), method: :delete, data: { confirm: "Are you sure?"}, class: "ui inverted red button" %></p>
    <% end %>
    <hr>
  <% end %>
  <%= link_to "New", new_group_comment_path(@group), class: "ui inverted black button active" %>
</div>
  
</div>